<!DOCTYPE html>

<html>
    <head>
        <title>about</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="container main-content">
            {{>header}}
            <p>A minimal weather app created by <strong>developontheweb</strong> (<a href="http://www.developontheweb.co.uk" style="cursor:pointer;text-decoration:none;"><span class="bordered-bottom">developontheweb.co.uk</span></a>).</p>
            <p>It makes use of geolocation services provided by <a href="https://www.mapbox.com/" style="cursor:pointer;text-decoration:none;"><span class="bordered-bottom">mapbox.com</span></a> and weather services from <a href="https://darksky.net/" style="cursor:pointer;text-decoration:none;"><span class="bordered-bottom">darksky.net</span></a></p>
            <p>Currently hosted on Heroku - <a href="https://rpillar-weather-app.herokuapp.com/" style="cursor:pointer;text-decoration:none;"><span class="bordered-bottom">here</span></a></p>
        </div>

        {{>footer}}
    </body>

</html>