<!DOCTYPE html>

<html>
    <head>
        <title>index</title>
        <link rel="icon" href="/img/weather.png" type="image/png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="container main-content">
            {{>header}}
            <p>Display current weather for your chosen location.</p>

            <form>
                <input class="input-field" placeholder="Location">
                <button class="search-button">Search</button>
            </form>

            <p id="loading-message">Loading ...</p>

            <div id="forecast-data" style="display:none;">
                <p id="location"></p>
                <p><strong class="bordered-bottom">Current Details</strong></p>
                <table id="forecast-table">
                    <thead>
                        <tr>
                            <th class="bordered-bottom" style="padding-right:10px;padding-bottom:5px;border-right:2px solid lightblue;">Temperature</span></th>
                            <th class="bordered-bottom" style="padding-left:10px;padding-bottom:5px;">Probability for rain</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="temperature" style="text-align:center;padding-bottom:5px;border-right:2px solid lightblue;"></td>
                            <td id="rainfallprob" style="text-align:center;padding-bottom:5px;"></td>
                        </tr>
                    </tbody>
                </table>
                <p><strong class="bordered-bottom">Daily Summary</strong></p>
                <p id="summary"></p>
                <table>
                    <tbody>
                        <tr>
                            <td style="font-weight:500;">High Temperature: </td>
                            <td id="temperature-high"></td>
                        </tr>
                        <tr>
                            <td style="font-weight:500;">Low Temperature: </td>
                            <td id="temperature-low"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p id="error-message"></p>

        </div>
        {{>footer}}

        <script src="/js/app.js"></script>
    </body>

</html>