<header>
    <h1>{{title}}</h1>
    <a href="/"><span class="bordered">Weather</span></a>
    <a href="/about"><span class="bordered">About</span></a>
    <a href="/help"><span class="bordered">Help</span></a>
</header>